/**
 * Define variables
 */
//color
$white:#fff;
$black:#666;
$grayLight:#999;
$grayDark:#ccc;
$blue:#2db7f5;
$red:#E01515;
$border:#ddd;
//font
$fontFamily:"Helvetica Neue",Helvetica,"Hiragino Sans GB","STHeitiSC-Light","Microsoft YaHei","微软雅黑",Arial,sans-serif;
$lineHeight: 1.8em;
$fontSize: 12px;
//size
$baseInt:10px;
$radius:5px;
//btn
$btnHeight:34px;

