	@media screen and (max-width: 320px) {
		.container{
			width: 100%;
		}
	}
	@media screen and (min-width: 320px) and (max-width: 768px) {
		.container{
			width: 100%;
		}
	}
	@media (max-width: 960px) {
		.container{
			width: 100%;
		}
	}
	@media (min-width: 1170px) {
		.container{
			max-width: 1170px;
			margin: 0 auto;
		}
		.side{
			width: 20%;
			max-width: 200px;
			position: fixed;
			background-color: $white - 10;
			padding:$baseInt;
		}
		.content{
			margin-left: 20%;
			min-height:750px;
		}
	}
