/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";
*{
	box-sizing:border-box;
}
body{
	background-color: rgba(0, 0, 0, 0.63);
}
.lucky{
	width: 440px;
	height: 600px;
	background-color: #a34437;
	margin: 96px auto 0;
	position: relative;
	border-radius: 10px;
    overflow: hidden;
    position: relative;
}
.top{
	width: 440px;
	height: 456px;
	background-color: #bf4d3b;
	border-bottom-left-radius: 50% 70px;
    border-bottom-right-radius: 50% 70px;
}
.close{
	width: 20px;
	height: 20px;
	position: absolute;
	top: 20px;
	left: 20px;
	cursor: pointer;
	.c1{
		display: block;
		width: 25px;
		height: 3px;
		background-color: #6b2b21;
		transform: rotate(45deg);
		position: absolute;
		top: 10px;
		left: 0;
		border-radius: 3px;
	}
	.c2{
		display: block;
		width: 25px;
		height: 3px;
		background-color: #6b2b21;
		transform: rotate(-45deg);
		position: absolute;
		top: 10px;
		left: 0;
		border-radius: 3px;
	}
	&:hover{
		.c1{
			width: 20px;
			transform:rotate(0);
			transition:all 0.5s;
			top: 5px;
		}
		.c2{
			width: 20px;
			transform:rotate(0);
			transition:all 0.5s;
			top: 10px;
		}
	}
}
