<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<link rel="stylesheet" href="style.css">
</head>
<body>
	<div class="container">
		<div class="side-left">this is left side.</div>
		<div class="auto-left">
			<div class="cont">this is right side.</div>
		</div>
	</div>
	<div class="container">
		<div class="auto-right">
			<div class="cont">this is right side.</div>
		</div>
		<div class="side-right">this is left side.</div>
	</div>
	<div class="hr"></div>
	<ul class="wrap">
		<li><a href="#">1</a></li>
		<li><a href="#">2</a></li>
		<li><a href="#">3</a></li>
		<li><a href="#">4</a></li>
		<li><a href="#">5</a></li>
		<li><a href="#">6</a></li>
		<li><a href="#">7</a></li>
		<li><a href="#">8</a></li>
		<li><a href="#">9</a></li>
	</ul>
</body>
</html>