/**
 * Define variables
 */
*, *:after, *:before {
  box-sizing: border-box; }

html, body, div, h1, h2, h3, h4, h5, h6, p, img, ul, li, ol, input, button {
  margin: 0;
  padding: 0; }

html {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

body {
  font-size: 10px;
  color: #666; }

p {
  line-height: 1.8em;
  font-size: 12px;
  color: #999; }

a {
  color: #2db7f5;
  text-decoration: none; }
  a:hover {
    text-decoration: underline; }
  a:visited {
    color: #55dfff; }

img {
  border: none; }

ul, li, ol {
  list-style: none; }

input, button, textarea {
  outline: none; }

@media screen and (max-width: 320px) {
  .container {
    width: 100%; } }
@media screen and (min-width: 320px) and (max-width: 768px) {
  .container {
    width: 100%; } }
@media (max-width: 960px) {
  .container {
    width: 100%; } }
@media (min-width: 1170px) {
  .container {
    max-width: 1170px;
    margin: 0 auto; }

  .side {
    width: 20%;
    max-width: 200px;
    position: fixed;
    background-color: whitesmoke;
    padding: 10px; }

  .content {
    margin-left: 20%;
    min-height: 750px; } }
.nav {
  font-size: 12px;
  line-height: 1.8em;
  padding: 20px 10px;
  margin-bottom: 10px;
  overflow: hidden;
  border-bottom: 1px solid #ddd; }
  .nav .logo {
    font-size: 24px;
    float: left;
    margin-right: 10px;
    border-right: 1px solid #ddd;
    padding-right: 20px;
    margin-right: 20px; }
    .nav .logo a:hover {
      text-decoration: none; }
  .nav .search {
    float: left; }
    .nav .search input {
      border: none;
      background-color: none;
      color: #999; }
  .nav .navbar {
    float: right; }
    .nav .navbar li {
      display: inline-block;
      margin-right: 20px; }
      .nav .navbar li a {
        font-size: 14px; }
        .nav .navbar li a:hover {
          font-weight: bold; }

.footer {
  clear: both;
  border-top: 1px solid #ddd;
  padding: 10px;
  margin-top: 10px;
  background-color: #fff; }

.btn {
  border: none;
  font-size: 14px;
  border-radius: 5px;
  line-height: 1em;
  padding: 10px 40px;
  cursor: pointer; }

.btn-default {
  background-color: #fff;
  border: 1px solid #ddd; }
  .btn-default:hover {
    background-color: #ebebeb; }

.btn-blue {
  background-color: #2db7f5;
  border: 1px solid #2db7f5;
  color: #fff; }
  .btn-blue:hover {
    background-color: #19a3e1;
    border-color: #19a3e1; }

.input-group {
  width: 100%;
  margin-bottom: 10px; }
  .input-group .input-name {
    width: 100%;
    line-height: 1.8em; }
  .input-group .input-box input[type="text"].input-control {
    width: 100%;
    line-height: 2.4em;
    padding: 0 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background: none; }
    .input-group .input-box input[type="text"].input-control:focus {
      border: 1px solid #2db7f5;
      box-shadow: 0 0 4px rgba(23, 152, 255, 0.6); }
