@import "compass/reset";
*{
	box-sizing:border-box;
}
body{
	background-color: #f4f4f4;
}
.items{
	width: 500px;
	margin: 20px auto 0;
	background-color: #fff;
	border:1px solid #ddd;
	.title{
		background:-webkit-linear-gradient(top,#fff,#eee);
		
		padding: 0 20px;
		width: 100%;
		overflow: hidden;
		border-bottom: 1px solid #ddd;
		> li{
			display: inline-block;
			float: left;
			width: 20%;
			text-align: center;
			line-height: 34px;
		}
	}
	.item{
		clear: both;
		width: 100%;
		overflow: hidden;
		> li{
			width: 20%;
			text-align: center;
			display: inline-block;
			float: left;
			line-height: 34px;
			border-bottom: 1px solid #ddd;
		}
	}
	.result{
		line-height: 34px;
		padding: 0 20px;
		background: -webkit-linear-gradient(top,#fff,#eee);
	}
}