.icon-box{
	width: 200px;
	height: 200px;
	float: left;
	display: flex;
    align-items: center;
    justify-content: center;
    background:-webkit-linear-gradient(top,#6dc4f1,#6fc6f3)
}
.icon-box .icon{
	width: 114px;
	height: 114px;
	position: relative;
	z-index: 1;
	border-radius:27px;
}